---
import { Image } from 'astro:assets';
import avatar from '../../assets/anton_zalialdinov.png';
---

<section class="py-5 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div class="relative flex justify-center">
                <Image class="w-full md:max-w-md lg:max-w-md avatar"
                    src={avatar}
                    alt="Anton Zalialdinov" />
            </div>
            
            <div class="about">
                <p class="text-offset">
                    Software Engineer
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3">
                    Anton Zalialdinov
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    Hello, I'm an engineer with <b>10 years of experience</b> in software development and <b>comprehensive expertise</b>. I have worked with a wide range of technologies across various industries, including investment banking, digital lending, FMCG distribution, the United Nations, and a well-known poker company. I'm a <b>problem solver</b> and the engine ignitor that can drive your business forward.
                </p>
                <div class="mt-10 sm:flex sm:items-center sm:space-x-8">
                    <a href=`/contact` title="Contact" 
                        class="inline-flex items-center justify-center px-10 py-4 text-base text-white
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:bg-secondary focus:bg-secondary" role="button">
                        Contact
                    </a>
                </div>
            </div>
       
        </div>
     
    </div>
</section>
