---
---

<section class="py-5 sm:py-10 lg:py-16">
    <div class="container mx-auto px-4 max-w-4xl">
            <div>
                <h3>
                    Contact me
                </h3>

                <h4>
                    take a step to bring your project to life
                </h4>

                <form action="https://api.web3forms.com/submit" method="POST">

                    <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE">
                
                    <input type="text" name="name" required>
                    <input type="email" name="email" required>
                    <textarea name="message" required></textarea>
                    <input type="hidden" name="redirect" value="https://web3forms.com/success">
                    <button role="button" type="submit">Submit Form</button>
                
                </form>
            </div>
    </div>
</section>
